@model TaskPlanner.Models.FamilyViewModel.FamilyListViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="post">
    <label for="chkShowAll">Show inactive</label>
    <input type="checkbox" asp-for="@Model.ShowAll" title="Show All" id="chkShowAll" />
   <input type="submit" value="Search" />
</form>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Is Active
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        <button class="btn-delete-family btn btn-primary" type="button" data-id="@item.Id"
                                data-url="@Url.Action("Delete", "Family")">
                            Delete family
                        </button>
                        <button class="btn esh-basket-checkout" name="updatebutton" asp-route-id="@item.Id" type="submit"
                                asp-action="DesactivateFamily">
                            [ DesactivateFamily ]
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<script type="text/javascript">

</script>